{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "d:/All Data/github/amazone-Q/store-react/store-fe",
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react"],
  // To disable all rules from the extended presets, you can comment out this section.
  // This will turn off all recommended rules from ESLint, React, and TypeScript.
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/jsx-runtime"
  ],
  "rules": {
    // You can also disable specific rules individually.
    // The value can be "off", "warn", or "error".
    "no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    // Example: Turn off a rule that flags console.log() statements
    "no-console": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  }
}
